*{
    color: #03045e;
    /* rgb(3,4,94) */
    color: #0077b6;
    /* rgb(0,119,181) */
    color:  #00b4d8;
    /* rgb(0,180,216) */
    color: #90e0ef;
     /* rgb(144,224,239) */
    color: #b3e7f1;
    /* rgb(179,231,241) */


}